name: Build & Test & Deploy Spring Boot App

on:
  push:
    branches:
      - '**'
  pull_request:
    types:
      - opened
      - closed

jobs:
  build-deploy:
    name: Build, Test, Deploy Spring Boot App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest checkstyleIntegration
        continue-on-error: false   # FAIL the job if violations exist

      - name: Build and run all tests
        run: ./gradlew clean build --info

      - name: Run unit tests
        run: ./gradlew test --info

      - name: Run integration tests
        run: ./gradlew integrationTest --info
        if: success()

      - name: Publish Checkstyle reports (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-reports
          path: build/reports/checkstyle/

      - name: Publish test results (if any)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            **/build/reports/tests/test
            **/build/reports/tests/integrationTest

      - name: Build the application
        run: ./gradlew clean build --info

      - name: Set date-time variable
        id: datetime
        run: echo "DT=$(date +'%Y-%m-%d_%I-%M-%S_%p')" >> $GITHUB_ENV

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/internship-hr-management-api:${{ env.DT }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/internship-hr-management-api:${{ env.DT }}